<?xml version="1.0"?>
<model>
  <name>finalassembly_v3</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Ishan</name>
    <email>example@email.com</email>
  </author>

  <description>
    4 wheel mobile robot exported from Fusion 360
  </description>
</model>